<% provide(:title, "Account Settings") %>

<div class="form-align card">

  <h1>Change Account Settings</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <br />

  <h2 class="card-header">Personal Information</h2>
  <div class="row">
    <div class="col">
      <div class="field">
        <br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First Name' %>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <br />
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
      </div>
    </div>
  </div>
  <div class="field">
    <br />
    <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail Address' %>
  </div>

  <div class="field">
    <br />
    <%= f.text_area :about, class: 'form-control', placeholder: 'About you', rows: 5 %>
  </div>

  <div class="field">
    <br />
    <%= f.text_field :interests, class: 'form-control', placeholder: 'Interests' %>
  </div>

  <br />

  <h2 class="card-header">Location</h2>
  <div class="row">
    <div class="col">
      <div class="field">
        <br />
        <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <br />
        <%= f.select(:state, ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
          'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
          'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina','South Dakota',
          'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'West Virginia', 'Wisconsin', 'Wyoming'], {:include_blank => '---State---'}, {:class => 'custom-select mr-sm-2'}) %>
        </div>
      </div>
    </div>

    <br />

    <h2 class="card-header">Passwords</h2>
    <div class="field">
      <br />
      <i class="text-muted">(Leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'New Password' %>
    </div>

    <div class="field">
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'New Password Confirmation' %>
    </div>

    <div class="field">
      <br />
      <hr>
      <%= f.label :current_password %> <i class="text-muted">(Required to submit any changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <br />
      <%= f.submit "Update", class: "new-buttons" %>
    </div>
    <% end %>
  </div>
  <br />
  <div class="form-align card">

    <h3 class="card-header">Close my account</h3>

    <p>Want to close your account?  We wish you wouldn't, but the choice is yours.  This will permenently delete your account and everything associated with it.<%= button_to "Close my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

  </div>
