<% provide(:title, @user.full_name) %>

<div class="profile card" align="center">

<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<%= gravatar_for @user, size: "300px"; %>
<hr>

<!-- TODO display user demographics and information -->

<ul style="list-style-type:none">
<li><p><%= @user.email %></p></li>
<li><p><%= @user.city %>, <%= @user.state %></p></li>
<li><p><%= @user.about %></p></li>
<li><p><%= @user.interests %></p></li>
</ul>

<% if @user == current_user %>
<%= link_to "Edit Info", edit_user_registration_path, class: "new-buttons" %>
<% end %>

</div>
