<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <title>ChatterBox</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar">
    <%= link_to 'ChatterBox', root_path, class: 'logo' %>

    <ul class="nav nav-pills pull-xs-right">
      <% if user_signed_in? %>

      <div class="dropdown profile-button">
        <span class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.first_name == "" %>
          <span class="menu-label"><strong><%= current_user.name %></strong></span>
          <% else %>
          <span class="menu-label"><strong><%= current_user.full_name %></strong></span>
          <% end %>
        </span>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to 'Profile', current_user, class: "dropdown-item" %>
          <%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Help', '#', class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Logout', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </div>

      <% else %>
      <li class="nav-item">

      </li>
      <% end %>
    </ul>
  </nav>
  <div class="page-wrap">
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <footer class="site-footer">
    <p style="color:white;">ChatterBox</p>
  </footer>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
